{% load thumbnail filer_tags filer_image_tags sekizai_tags %}
{% spaceless %}
{% now "YmdHiu" as rnd %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cmsplugin_filer_image/css/filer_image.css" media="screen, projection"/>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" id="script_image_plugin_{{ rnd }}">
 (function($) {
   $(document).ready(function(){
     {% if event_tracking %}
     var event = ['_trackEvent', '{{ event_tracking.category }}', '{{ event_tracking.action}}', '{{ event_tracking.label }}'];
     $("#image_plugin_{{ rnd }} .image-link").off('click').click(function() {
       if (typeof(_gaq) !== 'undefined' && _gaq instanceof Array ){
         _gaq.push(event);
       } else {
         console.log("Google Analytics is not defined on this page!")
       }
     });
     {% endif %}

     {% if overlay_link %}
     $('#image_plugin_{{ rnd }}').click(function(){
       $('body').append(
         '<div class="preview-image-overlay"><span> </span>' +
         '<img src="{{ overlay_link }}" /></div>');
       $('.preview-image-overlay').click(function() {$('.preview-image-overlay').remove();});
     });
     {% endif %}
   });
 })(jQuery);
</script>
{% endaddtoblock %}

{% if image_url %}
<span id="image_plugin_{{ rnd }}" class="filer-image-container {{ container_classes }}"
      style="{{ container_style }}">
  {% if link %}<a class="image-link" style="width:{{ image_width }}px;" href="{{ link }}"
                  target="{{ link_target }}">{% endif %}
  <img class="filer-image" alt="{{ img_alt }}" src="{{ image_url }}"
       width="{{ image_width }}" height="{{ image_height }}"
       {% if caption %}title="{{ caption }}"{% endif %}/>
  <span class="img-details" style="{{ details_style }}">
    <span class="img-caption">{{ caption }}</span>
    <span class="img-credit">{{ credit }}</span>
  </span>
  {% if link %}</a>{% endif %}
</span>
{% endif %}
{% endspaceless %}
