{% load thumbnail filer_tags filer_image_tags sekizai_tags %}{% spaceless %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cmsplugin_filer_image/css/filer_image.css" media="screen, projection" />{% endaddtoblock "css" %}

{% with d1='0123456789'|make_list|random d2='0123456789'|make_list|random d3='0123456789'|make_list|random d4='0123456789'|make_list|random %}
  {% with rnd='imagePlugin_'|add:d1|add:d2|add:d3|add:d4 %}

    {% addtoblock "js" %}
      {% if link and instance.enable_event_tracking and instance.event_category and instance.event_action %}
        <script type="text/javascript">
            (function($){
              $(document).ready(function(){
                $("#{{rnd}} .image-link").off('click').click(function(){_gaq.push(['_trackEvent', '{{instance.event_category}}', '{{instance.event_action}}', '{% if instance.event_label %}{{instance.event_label}}{% endif %}'])})
              });
            })(jQuery)
        </script>
      {% endif %}

      {% if overlay_link %}
        <script type="text/javascript">
            (function($){
                $('#{{rnd}}').click(function(){
                    var imgURL = $(this).data('rel');
                    $('body').append('<div class="frame" style="z-index: 1000000; position: fixed; left: 0; top: 0; height: 100%; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.88);"> <span style="display: inline-block; height: 100%; vertical-align: middle;"></span><img style="vertical-align: middle; max-height: 90%; max-width: 90%;" src="' + imgURL + '" /></div>');
                    $('.frame').click(function() {$('.frame').remove();} );
                });
            })(jQuery)
        </script>
      {% endif %}
    {% endaddtoblock %}

    {% if instance.image %}
        {% if instance.image.width == opts.size.0 and instance.image.height == opts.size.1 %}
            <!-- the width/height chosen as options are same with the original image width/height -->
            {% include "cmsplugin_filer_image/img_element.html" with sized_image=instance.image %}
        {% else  %}
            {% thumbnail instance.image size crop=opts.crop upscale=opts.upscale subject_location=opts.subject_location as thumbnail %}
            {% include "cmsplugin_filer_image/img_element.html" with sized_image=thumbnail %}
        {% endif %}
    {% endif %}
  {% endwith%}
{% endwith %}
{% endspaceless %}
